@* Sección Acerca de *@
<section id="about" class="about section">
  <div class="container section-title" data-aos="fade-up">
    <h2>Sobre nosotros<br></h2>
    <p>"Comprometidos con tu bienestar, destacamos por nuestra atención humana, calidad médica y calidez en cada consulta."</p>
  </div>
  <div class="container">
    <div class="row gy-4">
      <div class="col-lg-6 position-relative align-self-start" data-aos="fade-up" data-aos-delay="100">
        <img src="/assets/img/about.jpg" class="img-fluid" alt="">
        <a href="https://www.youtube.com/watch?v=HLCwVV3bh-U&t=3s" class="glightbox pulsating-play-btn"></a>
      </div>
      <div class="col-lg-6 content" data-aos="fade-up" data-aos-delay="200">
        <p class="fst-italic">
          En Clínica Los Angeles, nos dedicamos a cuidar de tu salud con un equipo de profesionales altamente capacitados y comprometidos. Ofrecemos atención médica integral en diversas especialidades, garantizando un servicio humano, seguro y de calidad.
        </p>
        <h3>¿Por qué elegirnos?</h3>
        <ul>
          <li><i class="bi bi-check2-all"></i> <span>Red de especialistas confiables en distintas áreas de la medicina.</span></li>
          <li><i class="bi bi-check2-all"></i> <span>Información médica clara y precisa para decisiones informadas.</span></li>
          <li><i class="bi bi-check2-all"></i> <span>Plataforma amigable para agendar tus citas fácilmente.</span></li>
          <li><i class="bi bi-check2-all"></i> <span>Opiniones reales de pacientes que respaldan nuestra atención.</span></li>
          <li><i class="bi bi-check2-all"></i> <span>Compromiso con tu privacidad y bienestar en cada paso.</span></li>
        </ul>
        <p>
          En MI CONSULTORIO, nuestro objetivo es brindarte una experiencia positiva y satisfactoria mientras buscas a los mejores profesionales de la salud. Si tienes alguna pregunta, comentario o sugerencia, no dudes en ponerte en contacto con nuestro equipo. Estamos aquí para ayudarte en todo momento.
        </p>
        <p>
          Gracias por confiar en Clínica Los Angeles, tu espacio de salud confiable.
        </p>
      </div>
    </div>
  </div>
</section>
