@* Sección de Citas *@
<section id="appointment" class="appointment section light-background">
  <div class="container section-title" data-aos="fade-up">
    <h2>Agenda tu Cita</h2>
    <p>Completa el siguiente formulario y uno de nuestros profesionales se pondrá en contacto contigo lo antes posible.</p>
    <p>En Clínica Los Angeles, tu bienestar es nuestra prioridad.</p>
  </div>
  <div class="container" data-aos="fade-up" data-aos-delay="100">
    <form action="/Home/Appointment" method="post" role="form" class="php-email-form">
      <div class="row">
        <div class="col-md-4 form-group">
          <input type="text" name="name" class="form-control" id="name" placeholder="Nombre Completo" required="">
        </div>
        <div class="col-md-4 form-group mt-3 mt-md-0">
          <input type="email" class="form-control" name="email" id="email" placeholder="Tu Correo Electrónico" required="">
        </div>
        <div class="col-md-4 form-group mt-3 mt-md-0">
          <input type="tel" class="form-control" name="phone" id="phone" placeholder="Tu Teléfono" required="">
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 form-group mt-3">
          <input type="datetime-local" name="date" class="form-control datepicker" id="date" placeholder="Fecha de la Cita" required="">
        </div>
        <div class="col-md-4 form-group mt-3">
          <select name="department" id="department" class="form-select" required="">
            <option value="">Seleccionar Especialidad</option>
            <option value="Cardiología">Cardiología</option>
            <option value="Neurología">Neurología</option>
            <option value="Hepatología">Hepatología</option>
            <option value="Pediatría">Pediatría</option>
            <option value="Oftalmología">Oftalmología</option>
          </select>
        </div>
        <div class="col-md-4 form-group mt-3">
          <select name="doctor" id="doctor" class="form-select" required="">
            <option value="">Seleccionar Médico</option>
            <option value="Doctor 1">Doctor 1</option>
            <option value="Doctor 2">Doctor 2</option>
            <option value="Doctor 3">Doctor 3</option>
          </select>
        </div>
      </div>
      <div class="form-group mt-3">
        <textarea class="form-control" name="message" rows="5" placeholder="Mensaje (Opcional)"></textarea>
      </div>
      <div class="mt-3">
        <div class="text-center"><button type="submit">Agendar Cita</button></div>
      </div>
    </form>
  </div>
</section>
